/* GRID CONTAINER  */
.display-container {
    background: #22262b;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 120vh;
    padding: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.09fr 0.4fr 0.3fr 0.5fr;
    grid-template-areas: 
    'title title'
    'img info'
    'form form'
    'reviews reviews' ;
}

/* GAME TITLE  */
.display-title {
    background: #22262b;
    grid-area: title;
    text-align: left;
    border-bottom: 1px #434c56 solid;
}

/* IMG  */
.display-img {
    background: #22262b;
    grid-area: img;
    padding-top: 2%;
}

.game-art-display {
    width: auto;
    height: auto;
    justify-content: center;
}

/* GAME INFO  */
.display-info {
    background: #22262b;
    grid-area: info;
    padding-top: 2%;
}

.game-container-info, .game-title {
    background: #22262b;
    text-align: left;
}

/* DISPLAY FORM  */
.display-form {
    background: #22262b;
    grid-area: form;
}

.add-title {
    background: #22262b;
    text-align: left;
    border-bottom: 1px #434c56 solid;
    padding-bottom: 0.5%;
}

/* DISPLAY REVIEWS  */
.display-reviews {
    background: #22262b;
    grid-area: reviews;
}

.reviews-title {
    background: #22262b;
    text-align: left;
    border-bottom: 1px #434c56 solid;
    padding-bottom: 0.5%;
}