.game-grid-container {
    background-color: #22262b;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 1% 1% 1%;
    color: white;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.1fr 0.3fr 1fr;
    grid-template-areas: 
    'header header'
    'image data'
    'form form'
    'reviews reviews';
}

.game-grid-1 {
    grid-area: header;
    text-align: left;
    background-color: #22262b;
    border-bottom: 1px #8d8d8d solid;
}

.game-grid-2 {
    grid-area: image;
    text-align: left;
    background-color: #22262b;
    padding: 2%;
}

.game-grid-3 {
    grid-area: form;
    text-align: left;
    background-color: #22262b;
    padding-top: 2%;
}

.game-grid-4 {
    grid-area: reviews;
    text-align: left;
    background-color: #22262b;
    padding-top: 2%;
}

.content, .review-container, .reviewer-info, .form-group {
    background-color: #22262b;
}

.form-group {
    padding-top: 1%;
    background-color: #22262b;
}

.btn-success{
    float: right;
    margin-top: 1%;
}

/* .content {
    font-variant: small-caps;
} */

.review-container {
    border-top: 1px #8d8d8d solid;
    padding: 2%
}

.reviewer {
    background-color: #22262b;
    display: inline-flex;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.game-art-display {
    background-color: #22262b;
    width: auto;
    height: auto;
}

.game-container-info {
    display: inline-block;
    background-color: #22262b;
    padding-left: 5%;
}