.game-card {
    color: white;
    background-color: #424242;
    display: inline-block;
    height: 30rem;
}

.card-body, .card-title, .card-text {
    background-color: #424242;
}

.card {
    width: 15rem;
    margin: 1%;
    display: inline-flex;
}

.game-art {
    height: 250px;
}